---
layout: post-index
title: Interferencias - Blog
description: "Página web de Interferencias. #somosruido"
tags:
image:
  feature: banners/header.png
---

<h1 style="text-align: center; color: #FF0000" class="entry-title">ESTE SITIO WEB ESTÁ DESACTUALIZADO Y SOLO SE MANTIENE POR RAZONES DE HISTÓRICO.<br><br>PUEDES ENCONTRAR LA WEB ACTUAL EN:<br><br><a href="https://interferencias.tech/" target="_blank">https://interferencias.tech/</a></h1>

{% for post in paginator.posts %}

{% assign author = site.data.authors[post.author] %}
{% assign translator = site.data.authors[post.translator] %}

<article class="hentry">
  <header>
    {% if post.image.feature %}
    <!--
      <div class="entry-image-index">
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.url }}/assets/images/{{ post.image.feature }}" alt="{{ post.title }}"></a>
      </div>--> <!-- /.entry-image -->
    {% endif %}
    <div class="entry-meta">
      {% include publishing layout=post %}
    </div><!-- /.entry-meta -->
    {% if post.link %}
      <h1 class="entry-title">{% include author type=post %}<a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
    {% else %}
      <h1 class="entry-title">{% include author %}<a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
    {% endif %}
  </header>
  <div class="entry-content">
    {% if post.translator %}
      <div class="entry-meta">
        TRADUCIDO POR
      	{% if translator.web %}
      		<a href="{{ translator.web }}">
      			{{ translator.name }}
      		</a>
      	{% else %}
      		{{ translator.name }}
      	{% endif %}
        <br>
        <a href="{{ post.original }}">
          {{ post.original }}
        </a>
      </div>
    {% endif %}
    {{ post.content | truncatewords:100}}
  </div><!-- /.entry-content -->
  <div class="bootstrap">
  	<div class="text-center">
      <a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><button type="button" class="btn btn-success">Leer más</button></a>
    </div>
  </div>
</article><!-- /.hentry -->
{% endfor %}

{% include pagination %}
